body{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background: url(/_next/static/images/bg-41030ceaa4cecbf32a7cd97c9a92fffe.jpeg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
@media (max-width: 600px){
    body{
        background: url(/_next/static/images/bg-41030ceaa4cecbf32a7cd97c9a92fffe.jpeg) repeat;
    }   
} 
/* Debut de CSS pour la page Accueil ou index */
.container{
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 40px 35px auto;
    grid-template-areas:"head"
                        "menu"
                        "main";
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 3px;
}
.head{
    grid-area: head;
    display: flex;
    justify-content: center;
}
.menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: 90vw 9vw;
    grid-template-rows: 45px;
    grid-template-areas: "mainMenu profilMenu";
    position: sticky;
    top: 0px;
}
@media (max-width: 600px){
    .menu{
        grid-template-columns: 80vw 19vw;
    }
}
.mainMenu{
    grid-area: mainMenu;
}
.profilMenu{
    grid-area: profilMenu;
}
.menuList{
    display: flex;
    justify-items: center;
}

.main{
    grid-area: main;
    display: flex;
    flex-flow: column;
    padding-right: 5vw;
    padding-left: 5vw;
    overflow: auto;
}

/* Fin de CSS pour la page Accueil ou index */

/* Debut de CSS pour la page Admin */

.adminContainer{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:"headleft headright" 
                        "bodyleft bodyright";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.headleft{
    grid-area: headleft;
    border: 2px solid #000;
    
}
.headright{
    grid-area: headright;
    border: 2px solid #000;
}
.bodyleft{
    grid-area: bodyleft;
    border: 2px solid #000;
}
.bodyright{
    grid-area: bodyright;
    border: 2px solid #000; 
}

@media (max-width: 600px){
   .adminContainer{
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 9vh 91vh;
        grid-template-areas:"smartheadleft smartheadright" 
                            "smartbody smartbody";
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    } 
    .smartheadleft{
        grid-area: smartheadleft;
        border: 2px solid #000;
    }
    .smartheadright{
        grid-area: smartheadright;
        border: 2px solid #000;
    }
    .smartbody{
        grid-area: smartbody;
        border: 2px solid #000;
    }
    .bodyright{
        display: none;
    }
    .bodyleft{
        display: none;
    }
    .headleft{
        display: none;
        
    }
    .headright{
        display: none;
    }
}
@media(min-width: 602px){
    .smartheadleft{
        display: none;
    }
    .smartheadright{
        display: none;
    }
    .smartbody{
        display: none;
    }
}


/*# sourceMappingURL=styles.chunk.css.map*/